---
import { Font } from "astro:assets";
import "../../styles/global.css";
import { config } from "../../config";
import Footer from "@components/footer/Footer.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{config.name}</title>
    <Font cssVariable="--font-primary" preload />
    <Font cssVariable="--font-secondary" preload />
  </head>
  <body
    ><slot />
    <Footer /></body>
</html>
