---
import Typography from "@components/typography";
import MainLayout from "@flow/layouts/Main/MainLayout.astro";
import Picture from "astro/components/Picture.astro";
import { config } from "src/config";
import logo from "@assets/images/logo.png";
import ContactForm from "./components/ContactForm";
import Button from "@components/button/Button.astro";
---

<MainLayout description={config.description} keywords={config.keywords}>
  <section class="section">
    <div class="container">
      <div class="flex flex-col gap-8 items-center">
        <a href="/" class="w-[120px]">
          <Picture src={logo} alt={config.name} width={180} height={75} />
        </a>
        <div class="flex flex-col gap-3 max-w-3xl text-center">
          <Typography variant="display-medium"
            >Vamos colocar sua empresa no Google?</Typography
          >
          <div>
            <Typography
              >Você já sabe que estar bem posicionado no Google não é mais uma
              opção — é uma necessidade. E se chegou até aqui, é porque quer
              transformar seu site em uma máquina de gerar oportunidades.</Typography
            >
            <Typography
              >Fale com a gente e descubra como podemos ajudar sua empresa a ser
              encontrada, reconhecida e escolhida.</Typography
            >
          </div>
        </div>
        <div
          class="flex gap-4 flex-col p-8 bg-gray-900/60 rounded-xl border border-gray-800 w-full max-w-3xl"
        >
          <ContactForm client:load>
            <Button type="submit" aria-label="">Enviar</Button>
          </ContactForm>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
