@import "tailwindcss";

html, body {
    @apply bg-slate-950 text-white scroll-smooth;
}

@theme inline {
    --font-sans: var(--font-primary);
    --font-secondary: var(--font-secondary);
}

@utility container {
    margin-inline: auto;
    @apply max-md:px-4;
}

strong {
    @apply font-black;
}

@utility section {
    @apply py-20;
}

p + p {
    @apply mt-3;
}

[type=checkbox]:checked {
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
    background-repeat: no-repeat;
    background-size: .55em .55em;
    background-position: center;
}
