---
import "../../../styles/global.css";
import Footer from "@components/footer/Footer.astro";
import Font from "astro/components/Font.astro";
import { config } from "src/config";

type Props = MainLayoutProps;

const { title, description, keywords } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`/favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <title>{title ?? config.name}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <Font cssVariable="--font-primary" />
    <Font cssVariable="--font-secondary" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    ><slot />
    <Footer /></body>
</html>
