---
import { config } from "src/config";
import { Image } from "astro:assets";
---

<section class="py-10">
  <div class="container flex justify-between">
    <div class="flex items-center gap-4">
      <Image src="/logo.svg" height={34} width={80} alt={config.name} />
      <p class="text-white/60 text-xs">
        Agência Digital Wule - 2025. Todos os direitos reservados.
      </p>
    </div>
  </div>
</section>
