---
import { config } from "src/config";
import logo from "@assets/images/logo.png";
import { Picture } from "astro:assets";
---

<section class="py-10">
  <div class="container flex justify-between">
    <div class="flex items-center gap-4">
      <div class="w-[80px] h-[34px]">
        <Picture src={logo} alt={config.name} />
      </div>
      <p class="text-white/60 text-xs">
        Agência Digital Wule - 2025. Todos os direitos reservados.
      </p>
    </div>
    <div>
      <a href={`/mapa-site`} class="text-xs">Mapa do Site</a>
    </div>
  </div>
</section>
