RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^(\.env|composer\.(json|lock)|config\.php|php\.ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files .env>
    Order allow,deny
    Deny from all
</Files>